.poker-table-position{
    position: absolute;
    top: 0px;
    left: 0px;
}
.player-info--stash--image, .player-info--bet--image {
    height: 25px;
    width: 25px;
    display: none;
}
.poker-table-girl-position{
    /* position: absolute;
    width: 50% !important;
    height: 60%;
    text-align: center;
    left: 18%;
    top: -14%;   */
    /* position: absolute;
    width: 10% !important;
    height: 33%;
    left: 45%;
    top: 20px; */
    height: 37%;
    left: 43%;
    position: absolute;
    top: 20px;
    width: 11%!important;
    }
    .mt-32{
        width: 75%;
        height: 70%;
        left: 12%;
        margin-top: 12% !important;
        /* margin-top: 11% !important; */
    }
    .player-info--name {
        display: flex;
        justify-content: center;
        /* border-radius: 25px; */
        border-radius: 0px 25px 25px 0px;
        position: absolute;
        bottom: 35px;
        padding: 12px 0;
        /* left: -80%; */
        left: 168%;
        /* width: 77px; */
        transform: translateX(-50%);
        width: 100%;
        color: whitesmoke;
        background-color:black;
        font-size: 12px;
        width: 160px;
    }
    .playing-card {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        /* background-color: transparent;
        border: 0px solid gray; */
        /* border-radius: 5px; */
        border-radius: 2px;
        /* font-size: 1.8em !important; */
        font-size: 1.5em !important;
    height: 40px;
    margin-top: 3px;
    border:0px solid #e1dbdb !important;
    /* box-shadow: 1px 1px 1px 1px rgb(158 150 150 / 5%); */
    }
    .player-avatar--container {
        position: relative;
        height: 100px ;
        width: 100px ; 
        border-radius: 50px;
        padding: 6px 6px 6px 6px;
    }
    /* .abscard {
        position: absolute;
        top: -9px !important;
        left: 77px;
       } */
       .abscard {
        position: absolute;
        top: -9px !important;
        left: 120px;
    }
    .abscard .playing-card {
       background-color: transparent;
        border: 0px solid gray;
    }
    .robotcard1 img{
        transform: rotate(345deg);
        border-radius: 2px;
    }
    .abscard :first-of-type + .robotcard1 img{
    transform: rotate(15deg);
    margin-right: 40px;
    border-radius: 2px;
    }

    .abscard .white-card .white-card-format{
      
        background: white;
        height: 45px;
        width: 35px;
        display: flex;
        border: 1px solid white;
        /* transform: rotate(342deg);
        align-items: center;
        align-content: center;
        justify-content: center; */
        transform: rotate(351deg);
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: -61px;
    border-radius: 2px;
    }

    .abscard :first-of-type + .white-card .white-card-format {
      
        background: white;
        height: 45px;
        width: 35px;
        display: flex;
        border: 1px solid white;
            transform: rotate(12deg);
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: -80px;
        /* transform: rotate(21deg);
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-left: -46px; */
      
    }
 
    .showdown-player--besthand--cards .playing-card {
        border-radius: 5px;
        /* font-size: 1.8em !important; */
        font-size: 1.5em !important;
        height: 39px;
        width: 35px;
        background: white;
        border: 0px solid white;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.3)!important;
        /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; */
        border-radius: 2px 0px 0px 2px;
      
    }
    /* .abscard {  
            position: absolute;
            top: -50px !important;
        } */
    .player-info--stash--container {
        /* margin-top: -70px;
        margin-left: -72px;
        width: 80px;
        background: #000000d9;
        padding: 6px 0px;
        border-radius: 20px; */
     margin-top: -75px;
    margin-left: -72px;
    width: 99px;
    background: #000000d9;
    padding: 12px 0px;
    border-radius: 20px;
    }
     .player-info--bet--container {
        /* display: block; */
        /* margin-top: -70px;
        margin-left: -72px;
        width: 80px;
        background: #000000d9;
        padding: 6px 0px;
        border-radius: 20px; */
    }
    .player-avatar--image {
        background-color: black !important;
       position: relative;
            z-index: 2;
            /* padding: 8px; */
        
    }

   
   
    .poker-table--table-image{
        height: 120%;
    }
    .game-action-bar {
        background-color:transparent !important;
        height: 5px !important;
        bottom: 19px !important;
        /* top: 92%; */
        /* background-image: linear-gradient(#58052b 60%, #e85a07 82%); */
        /* background-image: url(".././public/assets/assets1/Floor.png") !important; */
    }

    .dealer-chip-icon-container {
        position: absolute;
        /* top: 15px;
        left: 40px; */
        /* top: 12px;
        left: 42px;
        height: 25px;
        width: 25px; */
        top: 10px;
        left: 36px;
        height: 23px;
        width: 23px;
        z-index: 100;
        border: 2px solid brown;
        border-radius: 50%;
        background: black;
    }
    
    .action-button{
        text-transform: uppercase;
        margin: 0 80px;
        height: 38px;
        width: 150px;
  background-color: #093F6E !important;
   /* rgba(4, 4, 33, 0.754); */
border-radius: 15px !important;
border: 3px solid #093F6E !important;
font-size: 18px;
color: white !important;
    }  

    .fold-button {
        text-transform: uppercase;
        height: 38px;
        width: 150px;
        /* margin: 0 144px; */
        /* margin: 0 80px; */
        background-color: #A10F0F;
        border-radius: 15px !important;
        border: 3px solid #A10F0F;
        font-size: 18px;
        color: white;
    }
    .raise-button{
        text-transform: uppercase;
        height: 38px;
        min-width: 150px;
        /* background-color: rgb(3, 110, 56); */
        background-color: #0B615A ;
        border-radius: 15px !important;
        border: 3px solid #0B615A;
        font-size: 18px;
        color: white;
    }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0em solid transparent;
        /* border-bottom: 0; */
        border-left: 0em solid transparent;
    }
    .showdown-container--wrapper {
        display: block;
        flex-direction: column;
        align-items: center;
        position: absolute;
        overflow: auto;
       margin-left: auto;
       margin-right: auto;
        top: 45px;
        background-color: transparent;
        color: white;
        height: auto;
        min-height: 100%;
        width: 85%;
        /* width: 90%; */
        z-index: 100;
    }
    .result{
        border-radius:15px !important;
        /* border-radius:30px !important; */
    }
    .result-background{
        background-color: black ;
        width: 100%;
        height: 35px;
        /* display: flex;
        align-items: center; */
    padding: 10px;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float:right;
    }
    .result-header{
        background: rgb(44, 43, 43);
    }
    .result-body{
        background-color: white;
    }
    .result-name{
        /* margin-left: 5%; */
    font-size: 19px !important;
    }
    th{
        font-weight: 300;
    }
    .result-body tr td{
        font-size: 14px !important;
    }
    .result-bg{
        height: 30px;
        width: 30px;
        background: red;
        border-radius: 50px; 
        /* margin-right: 4%; */
        margin-top: -7px; 
    }
    .result-icon{
    margin-top: 10px;
    font-size: 20px;
    }
    .w-100{
        width: 100%;
    }
    .color-black{
        color: black !important;
    }
    .bg-green{
        background-color: green;
    }
    /* .result-footer{
        display: flex;
        align-items: center;
    } */
    .footer-height{
        height: 40px;
    border-radius: 0px 0px 15px 15px;
    }
    .result-img{
        height: 25px;
        width: 25px;
        margin-top:10px;
    }
    .showdown--nextRound--button {
        background-color: transparent;
        border: 0px solid white;
        color: #f2ebea;
        padding: 6px;
        line-height: 1;
        font-size: 24px;
    }
    /* .winner-img{
        width: 90px;
        height: 80px;
    } */
    .winner-img {
        width: 65px;
        height: 40px;
        /* width: 70px;
        height: 55px; */
    }

    h5 {
        font-size: .9rem;
    }
    .drop-button{
        text-decoration: none; 
        width: 80%;
        background: #356297;
        border-radius: 13px;
        color: white !important;
        font-size: 14px;
        /* padding: 6px 0px;
        text-align: center;
        margin-left: 10px;
        margin-top:10px; */
        padding: 4px 0px;
        text-align: center;
        margin-left: 10px;
        margin-top: 9px;
    }
    .drop-text{
        text-decoration: none; 
        width: 100%;
        background: white;
        font-weight: 600;
         font-size: 14px;
        border-radius: 13px;
        color:#EF2222 !important;
      
        padding: 3px 0px;
        text-align: center;
        /* margin-left: 10px; */
        margin-top:5px;
    }
    .slider-boi1{
        transform: rotate(90deg);
        /* height: auto; */
        height: 0px !important;
    width: 100% !important;
    /* transition: height 0.6s ease; */
    /* margin-top: 46vh; */
    margin-top: -23vh;
    margin-left: 54%;
    /* height: 140px; */
    }
    .slider-boi1 > div > div {
        /* position: absolute; */
        /* width: 56vh !important; */
        /* height: 10px;
        margin-top: 35px;
        border-radius: 0px;
        background-color: #f7e43f; */
    }
    .slider-tracks > div {
        /* width: 56vh !important;  */
    }
    .slider-handles > div {
        /* background-color: #EAB10D !important; */
        /* font-size: 35px; */
    /* transform: rotate(226deg); */
    background-color: white !important;
    color: #EF2222 !important;
    /* width: 25px !important;
    height: 25px !important;
    margin-left: 0px;
    font-size: 25px;
    transform: rotate(275deg) !important; */

    width: 17px !important;
    height: 15px !important;
    margin-left: 0px;
    font-size: 20px;
    transform: rotate(275deg) !important;
    margin-left: -4px !important;
    margin-top: 33px !important;
    /* margin-left: -15px;
    margin-top: 28px;
        background-color: transparent !important; */
    }
    .slider-handles > div > div {
        color: white !important;
        font-size: 15px !important;
        /* transform: rotate(313deg);
        margin-left: 15px;
        margin-top: -30px; */
        transform: rotate(355deg);
        margin-left: 0px;
        margin-top: -25px;
        /* color: white !important;
        font-size: 18px !important;
        transform: rotate(272deg); */
    }
 

    .slider-boi {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        transform: rotate(90deg);
        position: absolute;
        top: 6px;
    }
    .d-flex1{
        display: flex!important;
    flex-direction: column;
    }

    .spinner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        animation: App-logo-spin infinite 20s linear;
    }
    .w-30{
        width: 175px;
        margin-top: 5.5%;
    }
    .modal-padding{
        padding: 1.2rem 1.2rem .2rem 1rem;
    }

    .overflow-hidden{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    tr:hover {
    background-color: rgba(16, 12, 10, 0.306);
    color:white !important;
    }

   .ml-50{
    margin-left: 70%;
   }

   .spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    animation: App-logo-spin infinite 0s linear;
}
.modal-content {
    /* background-color: #2d2c2cd4; */
    background-color: #2d2c2c;
}
.close-bg{
        position: absolute;
        /* background-color: #EAB10D; */
        background-color: #A10F0F;
        right: 6px;
        border-radius: 50%;
        top: -12px;
        z-index: 3;
        /* right: 0px;
        border-radius: 50%;
        top: -9px; */
        opacity: 1;
        background: transparent !important;
}

.close-bg i{
    background:#A10F0F;
    padding: 2px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 20px;
    color: white;
}
    

    @media (min-width: 1200px){
        .action-buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: auto;
            height: 100%;
            margin-top: -7%;
            margin-left: 25%;
            border-radius: 15px;
        }
    }
    @media screen and (orientation:landscape) and
(min-device-width: 320px) and (max-device-width: 1024px) {
    body{
        font-size: 1rem !important;
    }
    .p1 .player-info--name , .p2 .player-info--name  {
        bottom: 18px;
        padding: 8px 0;
        width: 120px !important;
        left: -55%;
        font-size: 12px !important;
        z-index: 1!important;
        /* transform: rotate(179deg); */
        border-radius: 25px 0px 0px 25px;
    }
    .p1 .abscard , .p2 .abscard {
        position: absolute;
        top: -9px !important;
        left: -93px;
        /* left: -81px; */
    }
    .p1 .abscard .white-card .white-card-format , .p2 .abscard .white-card .white-card-format {
        position: absolute;
         left: 66px !important;
       
    }
    .pot-container {
        position: absolute;
        top: 47%;
        /* top: 42%; */
        right: 50%;
        left: 47%;
    }
    .pot-container h4{
        font-size: 14px;
        margin-top:-14px;
    }
    .player-avatar--container {
        height: 75px !important;
        width: 75px !important;
    }
    .mt-32 {
        width: 70%;
        /* height: 65%; */
        left: 14%;
        height: 63vh;
        /* height: 65vh; */
        margin-top: 26vh !important;
        /* margin-top: 12% !important; */
        /* margin-top:14% !important; */
    }
    .player-info--name {
        bottom: 18px;
        /* padding: 8px 0; */
         padding: 6px 0;
        width: 120px !important;
        left: 158%;
        font-size: 12px !important;
        z-index: 1!important;
    }

    .table-data{
        overflow-y: scroll;
        /* height: 215px; */
        height:190px;
        width: 100%;
        background: white;
    }

    /* @media (max-width: 768px){ */
        .poker-app--background {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
        .poker-table--wrapper {
    position: relative;
    width: 100%;
    /* height: 85%; */
    /* height: 108%; */
    /* height: 110%; */
    height: 100%;
    background-image: radial-gradient(#0ccdf8 60%, #4546a6 82%);
    /* url('../public/assets/assets1/Splashscreen.png') */
    /* background-image: radial-gradient(#0ccdf8 60%, #4546a6 82%); */
}
        .poker-table--container {
    position: absolute;
    top: 42% !important;
    /* top: 44% !important; */
    /* top: 51% !important; */
        }
        .community-card-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: calc(64.5% - 50px);
    /* top: calc(67.5% - 60px); */
    /* top: calc(52.5% - 60px); */
    /* left: calc(49% - 100px);
    display: flex;
    width: 200px; */
    left: calc(45% - 98px);
    display: flex;
    width: 250px;
    height: 60px;
}
.community-card-container .playing-card{
    height: 35px;
    width: 32px;
    margin-left: 3%;
}
.player-avatar--container {
    /* height: 50px !important;
    width: 50px !important; */
}

    /* .player-info--name {
        bottom: 13px;
        padding: 6px 0;
        width: 120px !important;
        left: 207%;
        font-size: 12px !important;
    } */
    /* bottom: 17px;
    padding: 6px 0;
    width: 120px !important;
    left: 190%;
    font-size: 12px !important; */


    .player-info--stash--container {
        background: #000000d9;
        border-radius: 20px;
        margin-left: -72px;
        margin-top: -42px;
        padding: 7px;
        width: 99px;
        display: none;

        /* margin-top: -39px; */
        /* margin-left: -72px;
        width: 99px;
        background: #000000d9;
        padding: 6px 6px;
        border-radius: 20px; */
    
    /* margin-top: -34px;
    margin-left: -72px;
    width: 99px;
    background: #000000d9;
    padding: 6px 0px;
    border-radius: 20px; */
    }

    .p0 .player-info--stash--container {
        display: block;
        background: black;
    }

    .p0 .abscard {
        position: absolute;
        top: -9px !important;
        left: -31px;
        /* left: -81px; */
    }

    /* .mt-32 {
    width: 70%;
    height: 82%;
    left: 14%;
    margin-top: 11% !important;
} */
.mt-32 {
    /* width: 70%;
    height: 65%;
    left: 14%;
    margin-top: 14% !important; */
}
/* .p0 {
    bottom: 0.262%;
    left: 50%;
    transform: translateX(-50%);
} */
.p0 {
    bottom: -4%;
    /* bottom: 2%; */
    left: 50%;
    /* bottom: 3.262%;
    left: 48%; */
    /* bottom: 5.262%;
    left: 50%; */
    transform: translateX(-50%);
}
/* .p1 {
    bottom: 18.262%;
    left: 13.107143%;
} */
/* .p1 {
    bottom: 21.262%;
    left: 18.107143%;
} */
.p1 {
    bottom: 10%;
    left: 18%;
    /* bottom: 24.262%;
    left: 13.107143%; */
    /* bottom: 18.262%;
    left: 14.107143%; */
}
/* .p4 {
    bottom: 18.262%;
    right: 19.107143%;
} */
.p4 {
    bottom: 12%;
    right: 17%;
    /* bottom: 17%;
    right: 20%; */
    /* bottom: 26.262%;
    right: 16.107143%; */
    /* bottom: 21.262%;
    right: 18.107143%; */
}
.p3 {
    bottom: 49%;
    /* bottom: 55.1518%; */
    right: 19%;
    /* bottom: 58.1518%;
    right: 27%; */
    /* bottom: 58.1518%;
    right: 26%; */
    /* right: 22%; */
}
.p2 {
    bottom: 49%;
    /* bottom: 55.1518%; */
    left: 19%;
    /* bottom: 54.1518%;
    left: 18%; */
    /* bottom: 57.1518%;
    left: 24%; */
    /* left: 18%; */
}
.Dealerr{
    font-size: 14px;
    color: white; 
    /* margin: 2px 1px 1px 2px; */
    margin: 1px 1px 1px 2px;
}
.activePlayer {
    border: 2px solid blue;
}
.player-threedot{
    display: inline-block;
    width: 86px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.actionBox {
   color: #f9f9f7;
    text-shadow: 0px 0px 0px rgb(0 0 0);
    padding: 0px;
    border-radius: 30px;
    position: absolute;
    top: 33px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    
    background: red;
    font-size: 12px;
}
.player-best-card .playing-card{
    /* color: red;
    height: 30px;
    width: 25px; */

    /* color: red;
    height: 25px;
    width: 17px;
    border-radius: 0px 0px 0px 4px; */
        color: red;
    height: 20px;
    width: 15px;
    border-radius: 2px;
    margin-top: 0px !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.7)!important;
    margin: 0px -1px !important;
}
.player-best-card  .white-card-format{
    line-height: .7;
    /* line-height: .6; */
    font-size: .7rem;
}
.white-card-format {
 font-size: .8rem;
}
.white-card-format i , .white-card-format span {
    font-size: .5rem !important; 
}
.white-card-format .icon-font {
    margin-top: -2px;
    /* font-size: .7rem !important;  */
}
.betpoint{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 41%;
    top: 59%;
}
.bet{
    color: #252323a6;
    font-size: 10px;
    padding: 2px 10px;
    text-align: center;
    z-index: 9;
    background: #fff;
    border-radius: 40px;
    height: auto;
    width: auto;
    transform: translate(-12px, 12px);
    /* color: black;
    font-size: 14px;
    padding: 2.2px;
    text-align: center;
    z-index: 9;
    background: #f2ebeb;
    border-radius: 45%;
    height: 25px;
    width: 30px;
    transform: translate(-12px, 12px); */
}
.betvalue{
        color: #f9f9f7;
        text-shadow: 0px 0px 0px rgb(0 0 0);
        padding: 0px;
        border-radius: 30px;
        position: absolute;
        top: -43px;
        width: auto;
        padding: 0px 10px;
        left: 53%;
        transform: translateX(-50%);
        z-index: 100;
        background: #66000066;
        /* font-size: 10px; */
        border: 1px solid #18161680;
        height: 14px;
    }
    .betvalue h6{
        margin-top: -1px;
        font-size: 0.8rem;
    }
}

/* } */